[alias]
	# Force push
	pushf = push --force-with-lease

	# Show the user email for the current repository.
	whoami = config user.email

[core]
	editor = code --wait
	excludesfile = ~/.gitignore

[pull]
	ff = only

[user]
	name = Patrick Lin
	useConfigOnly = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = /Users/patricklinpl/.config/dev/gitconfig
